body {
    @apply bg-blue-100;
}

header {
    @apply bg-blue-200;
    @apply text-lg text-center;
    @apply py-2;
}

nav {
    
}

main {
    @apply p-4;
}

footer {
    @apply text-center;
    @apply py-2;
}

@screen md {
    header {
        @apply text-2xl;
        @apply py-4;
    }

    footer {
        @apply py-6;
    }
}
