body {
    @apply bg-blue-100;
}

header {
    @apply bg-blue-200;
    @apply text-lg text-center;
    @apply py-2;
}

nav {
    
}

main {
    @apply p-4;
}

footer {
    @apply text-center;
    @apply py-2;
}

.field {
    @apply m-4 p-2;
}

.field input {
    @apply ml-2;
}

.btn {
    @apply border-2 bg-blue-300 m-4 p-2 rounded-lg;
}

.resc-field {
    @apply text-lg;
    @apply mx-4 my-6 p-2;
}

.map {
    height: 600px;
    @apply min-w-full bg-gray-200;
}

.about-map {
    @apply text-center mx-8;

}

.about-map .expl-header {
    @apply text-2xl;
    @apply my-4;
}

.about-map .explaination {
    @apply text-center;
}

@screen md {
    header {
        @apply text-2xl;
        @apply py-4;
    }

    footer {
        @apply py-6;
    }

    .about-map {
        @apply mx-40 text-center;
    }
}
